In [2]:
#List 
##List in python is mutable(can change),ordered(elements keep the order you gave),and indexed collection of elements or items
##it allows duplicates
##To create list(Syntax:list_name=[element1,element2,element3,...]
list1=[]#Empty list
list2 = [1,2.3,True,'This is List']#allows different type of data(heterogenious)
print(list1)
print(list2)
list3=["Siri", 25, [50, 100], [150, 90]]
print("Nested List: ", list3)
print("Length of the list: ", len(list3))

[]
[1, 2.3, True, 'This is List']
Nested List:  ['Siri', 25, [50, 100], [150, 90]]
Length of the list:  4

In [4]:
#Accesing Elements of the List
##Using indexing
print(list2[1])
print(list3[2][1]) #Accessing nested Elements
print(list3[-1]) #Accessing elements using negative index
##using slicing Syntax:list_name(staring_index,ending_index,step)
print(list2[1:])
print(list2[1:3])
print(list2[:-1])#Reverse Indexing
print(list2[:-3])

2.3
100
[150, 90]
[2.3, True, 'This is List']
[2.3, True]
[1, 2.3, True]
[1]

In [5]:
#Modifying list
#append()-To add element at the end(last) of the list
list2.append('new element')
print(list2)

#insert()- To add element in required index
list2.insert(3,2+3j)
print(list2)

[1, 2.3, True, 'This is List', 'new element']
[1, 2.3, True, (2+3j), 'This is List', 'new element']

In [4]:
#copy()-To copy from one list to another list
new_list=list2.copy()
print("New_List: ",new_list)
#clear()=To clear the list
new_list.clear()
print(new_list)

New_List:  [1, 2.3, True, 'This is List', 'new element']
[]

In [5]:
#count()-to count how many times the element is repeated in given list
list2.count(2.3)

1

In [6]:
#remove()-To remove single element from the list-removes directly without index
print(list2)
list2.remove('new element')
print(list2)

[1, 2.3, True, 'This is List', 'new element']
[1, 2.3, True, 'This is List']

In [7]:
#pop()-to remove the element at the end of the given list-it removes by index but by default last
print(list2)
list2.pop()
print(list2)
#list2.pop(2)
#print(list2)

[1, 2.3, True, 'This is List']
[1, 2.3, True]

In [8]:
#index()-to know the index of given element
list2.index(2.3)

1

In [9]:
#extend()- to add one list to another list
list3=[52,5.3,3+4j,True,"this is list3"]
list2.extend(list3)
list2

[1, 2.3, True, 52, 5.3, (3+4j), True, 'this is list3']

In [12]:
#reverse()-to reverse the list
list3.reverse()
list3

['this is list3', True, (3+4j), 5.3, 52]

In [16]:
#sort()-to sort the elements in ascending order
list1=[10,23,34,25,64,32,90,84,56]
list1.sort()
print(list1)
list1.sort(reverse = True)#Hyperparameter Tunning
print(list1)

[10, 23, 25, 32, 34, 56, 64, 84, 90]
[90, 84, 64, 56, 34, 32, 25, 23, 10]

In [6]:
#To delete the whole list
del list1;
print(list1)

NameError: name 'list1' is not defined

In [8]:
#Copy List
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
print(mylist)
mylist1 = mylist # Create a new reference "mylist1"
print(mylist1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [9]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(2078954903936, 2078954903936)

In [10]:
#Join Lists
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [11]:
#joining two lists using '+' operator
list3 = list1 + list2
print(list3)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [13]:
#List Membership
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [14]:
'one' in list3 # Check if 'one' exist in the list

True

In [15]:
'ten' in list3 # Check if 'ten' exist in the list

False

In [16]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [17]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

In [22]:
#Sort List
list1=list3.copy()
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [21]:
list1.reverse() # Reverse the list
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [23]:
list1 = list1[::-1] # Reverse the list
print(list1)

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [24]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [25]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [26]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [27]:
mylist4

[88, 65, 33, 21, 11, 98]

In [28]:
#Loop through a list
print(list1)

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [29]:
for i in list1:
    print(i)

eight
seven
six
five
four
three
two
one

In [30]:
for i in enumerate(list1):
    print(i)

(0, 'eight')
(1, 'seven')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'three')
(6, 'two')
(7, 'one')

All / Any
The all() method returns:
True - If all elements in a list are true
False - If any element in a list is false
The any() function returns True if any element in the list is True. If not, any() returns False.

In [32]:
L1 = [1,2,3,4,0]

In [33]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [34]:
any(L1) # Will Return True as we have items in the list with True value

True

In [35]:
L2 = [1,2,3,4,True,False]

In [36]:
all(L2) # Returns false as one value is false

False

In [37]:
any(L2) # Will Return True as we have items in the list with True value

True

In [39]:
L3 = [1,2,3,True]
all(L3) # Will return True as all items in the list are True

True