<b>SET</b><br>
Difference between list & set --
* My requirment of the programme is -- Represent group of object as single entity where duplicates are allowed and order is important then we go for LIST
* I dont want dupliacated, & order also not important then we will go for SET
* LIST are represent as [] && SET are represent as {}
* SET object does not support indexing or slicing
* insertation order are not preserved,order & duplicates are not allowed
* index concept are not allowed , hetrogeneuous object are allowed
* set is mutable
* add & remove method is use for SET but append method is used only for LIST

In [1]:
s1=set()
s1

set()

In [2]:
s1 = {90, 4, 50, 32, 3, 1}
print(s1)

{32, 1, 50, 3, 4, 90}

In [3]:
type(s1)

set

In [4]:
s2 = {'a', 'e', 'b', 'k'}
s2

{'a', 'b', 'e', 'k'}

In [5]:
print(s1)
print(s2)

{32, 1, 50, 3, 4, 90}
{'k', 'b', 'a', 'e'}

In [6]:
len(s2)#len() - To find the cunt of elements in set

4

In [7]:
s3 = {1, 2.3, 'nit', True, 2+3j}

In [8]:
print(s3)

{1, 2.3, 'nit', (2+3j)}

In [9]:
print(s1)
s1.add(1) #add()- To add element to the existing set
print(s1)

{32, 1, 50, 3, 4, 90}
{32, 1, 50, 3, 4, 90}

In [10]:
s1.add(100)
print(s1)

{32, 1, 50, 3, 4, 100, 90}

In [11]:
print(s3)
s3.clear() #clear()- To remove all the elements from the set
print(s3)

{1, 2.3, 'nit', (2+3j)}
set()

In [12]:
s4= s2.copy() #copy() - To cop elements of one set to another set
s4

{'a', 'b', 'e', 'k'}

In [13]:
s1

{1, 3, 4, 32, 50, 90, 100}

In [14]:
s1.pop() #pop() - To remove random element from the set

32

In [15]:
s1.pop()

1

In [16]:
print(s1)
s1.remove(4) #remove() - To remove a specific element from set if it is not a member otherwise it will throw error
print(s1)

{50, 3, 4, 100, 90}
{50, 3, 100, 90}

In [17]:
s1.discard(3) #discard() - remove the element if it is available in set otherwise it will not throw error
print(s1)
s1.discard(100)
print(s1)

{50, 100, 90}
{50, 90}

In [18]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

seven
five
six
two
eight
four
one
three

In [19]:
for i in enumerate(myset):
    print(i)

(0, 'seven')
(1, 'five')
(2, 'six')
(3, 'two')
(4, 'eight')
(5, 'four')
(6, 'one')
(7, 'three')

Set Operations

In [20]:

a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
c = {8, 9, 10}

In [21]:
a.union(b) #union() - combine all the elements of both sets without dupicates

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
a | b #union

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
a | b | c

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [25]:
a.intersection(b) #intersection() - displays all the elements similar in two sets

{4, 5}

In [26]:
a.intersection(c)

set()

In [27]:
a & b #intersection

{4, 5}

In [28]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [29]:
a.difference(b)

{1, 2, 3}

In [30]:
b.difference(a)

{6, 7, 8}

In [31]:
a - b #difference

{1, 2, 3}

In [32]:
b - a

{6, 7, 8}

In [33]:
#difference_update
print( '\n',a,'\n',b,'\n',c)
b.difference_update(c)
print("\n difference_update", b)

 {1, 2, 3, 4, 5}
 {4, 5, 6, 7, 8}
 {8, 9, 10}

 difference_update {4, 5, 6, 7}

In [34]:
print('\n',a,'\n',b,'\n',c)

 {1, 2, 3, 4, 5}
 {4, 5, 6, 7}
 {8, 9, 10}

In [35]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7}

In [36]:
a^b #symmetric_difference

{1, 2, 3, 6, 7}

In [37]:
#Superset, Subset, Disjoint
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {3, 4, 5, 6, 7, 8}
set3 = {10, 20, 30, 40}

In [38]:
set1.issuperset(set2) #issuperset() - Returns True if all the elements of one set are present in another set

True

In [39]:
set2.issuperset(set1)

False

In [40]:
set1.issubset(set2) #issubset() - Returns true if a set contains all elemnts of another set.

False

In [41]:
set2.issubset(set1)

True

In [42]:
set1.isdisjoint(set2) #isdisjoint() - Returns True if two sets have no elements in common

False

In [43]:
set1.isdisjoint(set3)

True

<b>Frozen Set:</b>frozenset exactly same as set but one criteria is immutable

In [44]:
s3 = {10,20,30,40} 
s3.add(70)
s3

{10, 20, 30, 40, 70}

In [45]:
s3.add('hello')
s3

{10, 20, 30, 40, 70, 'hello'}

In [46]:
fs = frozenset(s3)
fs

frozenset({10, 20, 30, 40, 70, 'hello'})

In [47]:
type(fs)

frozenset

In [48]:
fs.add(50) #add, remove such type of concept are not applicable in frozenset

AttributeError: 'frozenset' object has no attribute 'add'