In [1]:
#TUPLE
#Tuple is Ordered, Mutable, Hetrogenious and Allows Duplicates.
#Tuples are created using comma separated values inside the Parenthesis"()"
tup = () #Empty Tuple
print("Empty Tuple: ", tup)
tup1 = (10, 20, 30) #Integer Type
print("Integer: ", tup1)
tup2 = (10.77, 52,34, 53.34) #Float Number
print("Float: ", tup2)
tup3 = ('one', 'two', "three")  #String
print("Sting: ", tup3)
tup4 = ("Siri", 25, (50, 100), (150, 90)) #Nested Tuple
print("Nested Tuple: ", tup4)
tup5 = (100, 'Asif', 17.765) #Tuple of mixed
print("mixed:", tup5)
print(type(tup5)) #Type of the tup5
print(len(tup5)) #length of the tuple

Empty Tuple:  ()
Integer:  (10, 20, 30)
Float:  (10.77, 52, 34, 53.34)
Sting:  ('one', 'two', 'three')
Nested Tuple:  ('Siri', 25, (50, 100), (150, 90))
mixed: (100, 'Asif', 17.765)
<class 'tuple'>
3

In [2]:
#Tuple Indexing
print("Element at index '0'(First element):", tup2[0])#Retreive first element of the tuple
print("Nested Element(value):", tup4[2][1])
print("Last Element:", tup1[-1])#Accessing last element using Negative indexing

Element at index '0'(First element): 10.77
Nested Element(value): 100
Last Element: 30

In [3]:
#Tuple Slicing
mytuple =(1, 2, 3, 4, 5, 6, 7, 8)
print(mytuple[0:3])#Returns all items from 0th to (3-1)2nd index
print(mytuple[2:5])
print(mytuple[:3]) #Returns first three items
print(mytuple[:2]) #Return first two items
print(mytuple[-3:]) #Return last three items
print(mytuple[-2:]) #Return last two items
print(mytuple[:]) #Return Whole values
print(mytuple[::-1]) #Reverse the values
print(mytuple[::-2]) 
print(mytuple[::-3])
print(mytuple[::2])
print(mytuple[::3])

(1, 2, 3)
(3, 4, 5)
(1, 2, 3)
(1, 2)
(6, 7, 8)
(7, 8)
(1, 2, 3, 4, 5, 6, 7, 8)
(8, 7, 6, 5, 4, 3, 2, 1)
(8, 6, 4, 2)
(8, 5, 2)
(1, 3, 5, 7)
(1, 4, 7)

In [4]:
#Removing &Change Items
print(mytuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [5]:
del mytuple[0] # Tuple doesn't allows deletion and Updation because it is immutable

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytuple[0] = 1 #Tuples are immutable which means we can't CHANGE tuple items

In [ ]:
del mytuple #Deleting entire tuple object is possible

In [ ]:
mytuple

In [ ]:
#Loop through a tuple
mytuple =(1, 2, 3, 4, 5, 6, 7, 8)
print(mytuple)

In [ ]:
for i in mytuple:
    print(i)

In [ ]:
for i in enumerate(mytuple):
    print(i)

In [ ]:
#Tuple with Membership Operators
print("mytuple: ", mytuple)
print("Is '1' in mytuple: ", 1 in mytuple)
print("Is '1' not in mytuple:", 1 not in mytuple)

if 3 in mytuple:
    print("Three(3) is present in the tuple")
else:
    print("Three(3) is not present in the tuple")

In [ ]:
#Position of elements
print(mytuple)
mytuple.index(1)

In [ ]:
print(mytuple.index(5))

In [ ]:
#Sorting
mytuple2 = (53, 34, 22, 89, 54, 29)
sorted(mytuple2)

In [ ]:
sorted(mytuple2,reverse=True)