Variables 
->A Variable is a name that refers to a memory location where a value is stored.
->Variable is a container for data.
->Variable in python is Dymanic Typing(no need to declare),No Expicit Declaration(directly assign the value),Mutable(Changable)

In [7]:
#Variable Assignment(var_name = value)
num = 1
num

1

Rules to Define Variable in Python
->Must start with a letter(a-z, A-Z) or an underscore(_).
->Can contain letters,degits(0-9), and underscores, But cannot start with a digit.
->Case-Sensitive:age,Age, and Age are differnt variables.
->Cannot be a Python Keyword

In [9]:
#Storing and Printing a Value
#Integer Variable
age = 25
print(age)#
#String Variable
name = "Siri"
print(name)
#Float Variable
price = 19.99
print(price)
#Boolean Variable
is_active = True
print(is_active)

25
Siri
19.99
True

In [11]:
#Using Variable in Expressions
#Assigning values to variables
a = 3
b = 4
#Adding two variables and storing the result in result
result = a+b
#Printing the result
print(result)

7

In [13]:
#Changing the Values of a Variable
#Initial value
score = 50
print("Intitial Value: ",score)
#Changing the value of 'score'
score=100
print("Second Value: ",score)

Intitial Value:  50
Second Value:  100

In [1]:
#Concatenating String
##Assigning values to variables
first_name = "Harry"
last_name = "Potter"

#Concatenating string and storing in a new variable
full_name = first_name + " "+ last_name
print(full_name)

Harry Potter

In [2]:
#Using Variables in a calculation
##Assigning values to variables
length = 10
width = 5

#Calculating the area of a rectangle
area = length * width
print(area)

50

In [3]:
#Assigning Values to same variable
x = 10
print(x)
x = 20
print(x)

10
20

In [11]:
# Variables in Python

first_name = 'Harry'
last_name = 'Potter'
school = 'Hogwarts'
city = 'Scotland'#String
country = 'UK'
age = 19 #Integer
is_married = True #Boolen
skills = ['HTML', 'CSS', 'JS', 'React', 'Python'] #List
person_info = {
    'firstname':'Siri', 
    'lastname':'Sidigonde', 
    'country':'India',
    'city':'Ananthapur'
    } #Dictionary

In [12]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Harry
First name length: 5
Last name:  Potter
Last name length:  6
Country:  UK
City:  Scotland
Age:  19
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Siri', 'lastname': 'Sidigonde', 'country': 'India', 'city': 'Ananthapur'}

In [13]:
# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Lily', 'Potter', 'UK', 40, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Lily Potter UK 40 True
First name: Lily
Last name:  Potter
Country:  UK
Age:  40
Married:  True